@model CreateAuthorDto
@{
    ViewData["Title"] = "CreateAuthor";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yeni Yazar Girişi</h4>
                <p class="card-subtitle mb-4">Yeni yazar girişlerini bu sayfadan gerçekleştirebilirsiniz.</p>
                <form method="post">
                    <div class="form-group">
                        <label>Ad Soyad</label>
                        <input type="text" class="form-control" placeholder="Ad Soyad Giriniz" asp-for="Name">
                    </div>
                    <div class="form-group">
                        <label>Hakkında</label>
                        <textarea class="form-control" rows="5" placeholder="Hakkında Bilgisi Giriniz" asp-for="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Resim</label>
                        <input type="text" class="form-control" placeholder="Resim Url Giriniz" asp-for="ImageUrl">
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Yeni Yazar Kaydet</button>
                    <a href="/Admin/AdminAuthor/Index/" class="btn btn-danger waves-effect waves-light">İptal</a>
                </form>
            </div>
        </div>
    </div>
</div>

