@model List<ResultAuthorDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@* ADMIN AUTHOR INDEX *@
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yazar Listesi</h4>
                <p class="card-subtitle mb-4">Yazarlarla ilgili işlemleri buradan gerçekleştirebilirsiniz. <span class="text-danger">Yazarlarla ilgili bilgileri lütfen eksiksiz giriniz</span></p>
                <div class="table-responsive">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>Resim</th>
                                    <th>Ad Soyad</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>
                                    <th>Yazarın Blogları</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.AuthorID</td>
                                        <td><img src="@item.ImageUrl" alt="image" class="img-fluid avatar-sm rounded" /></td>
                                        <td>@item.Name</td>
                                        <td><a href="/Admin/AdminAuthor/RemoveAuthor/@item.AuthorID" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/Admin/AdminAuthor/UpdateAuthor/@item.AuthorID" class="btn btn-secondary">Güncelle</a></td>
                                        <td><a href="#" class="btn btn-info">Yazarın Blogları</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <a href="/Admin/AdminAuthor/CreateAuthor/" class="btn btn-success">Yeni Yazar Girişi</a>
                </div>
            </div>
        </div>
    </div>
</div>

