<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="mdi mdi-alpha-x-circle"></i>
                <span>
                    Carbook Admin
                </span>
            </a>
        </div>
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menü</li>
                <li>
                    <a href="/Admin/AdminDashboard/Index" class="waves-effect"><i class="feather-airplay"></i><span class="badge badge-pill badge-primary float-right">7</span><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="/Default/Index/" class="waves-effect"><i class="feather-airplay"></i><span>Siteye Git</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminCar/Index/" class="waves-effect"><i class="fas fa-car-side"></i><span>Araba İşlemleri</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminFeature/Index/" class="waves-effect"><i class="mdi mdi-speedometer"></i><span>Araba Özellikleri</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminBrand/Index/" class="waves-effect"><i class="mdi mdi-speedometer"></i><span>Markalar</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminBanner/Index/" class="waves-effect"><i class="mdi mdi-speedometer"></i><span>Banner Alanı</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminAbout/Index/" class="waves-effect"><i class="mdi mdi-speedometer"></i><span>Hakkımda Alanı</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminAuthor/Index/" class="waves-effect"><i class="mdi mdi-speedometer"></i><span>Yazar İşlemleri</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminCategory/Index/" class="waves-effect"><i class="mdi mdi-speedometer"></i><span>Blog Kategorileri</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminBlog/Index/" class="waves-effect"><i class="mdi mdi-speedometer"></i><span>Blog İşlemleri</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminPricing/Index/" class="waves-effect"><i class="mdi mdi-speedometer"></i><span>Ödeme Türleri</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminContact/Index/" class="waves-effect"><i class="mdi mdi-speedometer"></i><span>İletişim</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminLocation/Index/" class="waves-effect"><i class="mdi mdi-speedometer"></i><span>Lokasyonlar</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminService/Index/" class="waves-effect"><i class="mdi mdi-speedometer"></i><span>Hizmetler</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminSocialMedia/Index/" class="waves-effect"><i class="mdi mdi-speedometer"></i><span>Sosyal Medya</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminTestimonial/Index/" class="waves-effect"><i class="mdi mdi-speedometer"></i><span>Referanslar</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminStatistic/Index/" class="waves-effect"><i class="mdi mdi-speedometer"></i><span>İstatistikler</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>