@model UpdateFeatureDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Özellik GÜncelleme Sayfası</h4>
                <p class="card-subtitle mb-4">Araçlara ait özelliklerin isimlerini bu sayfadan düzenleyebilirsiniz.</p>

                <form method="post">
                    <input type="hidden" asp-for="FeatureID" />
                    <div class="form-group">
                        <label>Araç Özelliği</label>
                        <input type="text" class="form-control" placeholder="Özellik Giriniz" asp-for="Name">
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Özelliği Güncelle</button>
                    <a href="/Admin/AdminFeature/Index/" class="btn btn-danger waves-effect waves-light">İptal</a>
                </form>

            </div>
        </div>
    </div>
</div>

